@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    scroll-behavior: smooth;
}
#nav
{
    background-color: rgb(248, 161, 176);
}
#brand 
{
    margin-left: 3rem;
    margin-right: 30rem;
    font-style: italic ;
    font-weight: bold;
    color: black;
}
#brand span
{
    color: rgb(108,153,18);
}

a.btn
{
    background-color:rgb(63,10,10);
    border-style: hidden;
    border-radius: 20px;
    transition: 0.3s ease-out;
}
a.btn:hover
{   
    cursor: pointer;
    background-color: pink;
    color: black;
}
#footer
{
    display: flex;
    padding: 15px;
    background-color:brown;
    color: azure;
}
#footer span
{
    font-weight: bold;
    margin: 20px;
}
#social
{
    display: flex;
    margin-bottom: 5px;   
}
#social i
{
    margin: 20px;

}
